{% extends 'base.html' %}

{% block title %}Update Post{% endblock %}

{% block content %}
  <h1>Update Post</h1>
  <form method="POST" action="{{ url_for('update_post', post_title=post.title) }}">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" name="title" value="{{ post.title }}" readonly>
    </div>
    <div class="form-group">
      <label for="content">Content</label>
      <textarea class="form-control" id="content" name="content" rows="5">{{ post.content }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Update Post</button>
  </form>
{% endblock %}
